/*
* Home page styles
*/
#wrapper-home {
  height: 100%;
  .navbar-toggle {
    display: none;
  }
  #page-wrapper {
    height: 100%;
  }
}
.bloc-link-event{
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 100%;
  right: 15%;
  text-align: center;
  padding: 30px;
  height: 100px;
  width:170px;
}
.fillBackground {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; */
}
.stretch {
  width: 100%;
  height: 100%;
}
.hrmain { // sperator between welcome row divs
  margin:4px;
}
.founder-image {
  width:50%;
  margin:0 auto;
}
.sponsor-image {
  width:50%;
  margin:0 auto;
}
@media(min-width: 992px) {
  #wrapper-home {
    padding: 0;
  }
}

