/*
* Paginator
*/
ul.pagination {
  float: right;
  margin-top: 10px;
  padding-left: 15px;
}
li.prev a {
  margin-top: 10px;
}
li.next a {
  margin-top: 10px;
}
div.panel.panel-default {
  margin-bottom: 0px;
}
