/*
* Register button styling
*/
.register-button {
    color: #000;
    border-color: #999;
    font-size: 55px;
}

#industry-button {
    background-color: #2ecc71;
}

#professor-button {
    background-color: #d9534f;
}

#student-button {
    background-color: #5BC0DE;
}
