/*
* Register button styling
*/
.register-button {
    color: @register-button-color;
    border-color: @register-button-border-color;
    font-size: 55px;
}

#industry-button {
    background-color: @color-industry;
}

#professor-button {
    background-color: @color-professor;
}

#student-button {
    background-color: @color-student;
}
