/*
* Side navbar
*/
.side-nav {
  padding: 30px 0 0 0;
  & > li {
    &.active {
      background: rgba(0, 0, 0, 0.1);
      > a, > a:hover {
        border-left: 3px solid @brand-success;
        color: @brand-success;
      }
      .submenu-arrow {
        &:before {
          content: "\f0de";
        }
      }
    }
    a {
      color: @gray-light;
      &:hover, &:focus {
        background: none;
        color: @brand-success;
      }
      .submenu-arrow {
        &:before {
          content: "\f0dd";
        }
      }
    }
    & > ul {
      padding: 0;
      & > li {
        & > a {
          display: block;
          padding: 10px 15px 10px 38px;
          text-decoration: none;
        }
      }
    }
  }
}
@media(min-width: 992px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 250px;
    width: 250px;
    margin-left: -250px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background: #fff;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    & > li {
      & > a {
        width: 250px;
        &:hover, &:focus {
          outline: none;
        }
      }
    }
  }
}
@media(max-width: 991px) {
  .side-nav {
    padding-top: 70px;
  }
}
