@import '../bootstrap/less/bootstrap.less';

body {background: #ebeff2}

.ease-transition(@second: 0.5s) {
  -webkit-transition: all @second ease;
  -moz-transition: all @second ease;
  -o-transition: all @second ease;
  transition: all @second ease;
}

#top-menu {
  &.navbar {
    border-radius:0;
  }
  #navbar-login, #navbar-register {
    height: 100%;
    a {
      background: #E8E8E8;
      &:hover {
        background: #DCDCDC;
      }
    }
  }
}

#menu {
  li {
    &.active {
      border-left: 3px solid @brand-primary;
      background: #f4f8fb;
      a {
        color: #337AB7;
      }
    }
    a {
      border-radius: 0;
      display: block;
      text-decoration: none;
      color: #333;
      .ease-transition();
      &:hover {
        color: @brand-primary;
      }
    }
    .label {
      text-indent: 0;
      margin: 1.2em;
    }
  }
}

#wrapper {
  padding-left: 0;
  .ease-transition();
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: scroll;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}
.xyz{
  min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}
.fixed-brand{
  width: auto;
}

#top-menu {
  .navbar-brand {
    padding: 8px 0 0 15px;
    img {
      display: inline-block;
    }
    span {
      font-weight: 700;
    }
    color: #fff;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}


.no-margin{
  margin:0;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand{
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
  }


  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;

  }
}

.page-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 7px;
  font-weight: 600;
}

.breadcrumb {
  background: none;
  padding: 8px 0;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.table > tfoot > tr.info > td {
  background: #ebeff2;
}

#menu-toggle-2 {
  background: none;
  border: 0;
  color: #ddd;
  &:hover {
    color: #fff;
  }
}